# Secret keys and sensitive information
.env

# Python cache files
__pycache__/
*.py[cod]

# Installed iris package
iris.egg-info/

# Virtual environment
.venv/
.python-version

# Checkpoints for model training
checkpoints/

# Webdriver
chromedriver.exe

# Large downloaded images and datasets
images/
data/

# Results that can be regenerated
results/